/* For WebKit browsers */
#project-drawer::-webkit-scrollbar {
    display: none;
  }
  
  /* For IE, Edge, and Firefox */
  #project-drawer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }